/*------------------------------------*\
  #FONTS
\*------------------------------------*/
@font-face {
    font-family: "ITC";
    font-weight: 400;
    src: url("../fonts/ITCAvantGardeStd-Bk.woff") format("woff");
}

@font-face {
    font-family: "ITC";
    font-weight: 600;
    src: url("../fonts/ITCAvantGardeStd-Md.woff") format("woff");
}

@font-face {
    font-family: "ITC";
    font-weight: 800;
    src: url("../fonts/ITCAvantGardeStd-Bold.woff") format("woff");
}

/*------------------------------------*\
  #GENERIC
\*------------------------------------*/

/*
    Generic: Page
    ---
    Global page styles + universal box-sizing:
*/

html {
    font-size: 18px;
    line-height: 24px;
    font-family: "ITC", sans-serif;
    color: #525366;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Customize the background color to match your design.
 */

::selection {
    background: #525366;
    color: white;
    text-shadow: none;
}

/*------------------------------------*\
  #Elements
\*------------------------------------*/

/*
    Elements: Images
    ---
    Default markup for images to make them responsive
*/

img {
    max-width: 100%;
    vertical-align: top;
}

/*
    Elements: typography
    ---
    Default markup for typographic elements
*/

h1 {
    font-size: 36px;
    line-height: 40px;
    margin: 0 0 24px;
    color: #03041a;
}

h2 {
    font-size: 32px;
    line-height: 40px;
    margin: 0 0 24px;
    color: #03041a;
}

h3 {
    font-size: 18px;
    line-height: 24px;
    margin: 0 0 24px;
}

h4,
h5,
h6 {
    font-size: 16px;
    line-height: 24px;
    margin: 0 0 24px;
}

p,
ol,
ul,
dl,
table,
address,
figure {
    margin: 0 0 24px;
}

ul,
ol {
    padding-left: 24px;
}

li ul,
li ol {
    margin-bottom: 0;
}

blockquote {
    font-style: italic;
    font-size: 23px;
    line-height: 32px;
    margin: 0 0 24px;
    font-family: "Times New Roman", serif;
}

blockquote * {
    font-size: inherit;
    line-height: inherit;
}

figcaption {
    font-size: 12px;
    line-height: 16px;
    padding-top: 8px;
    color: Grey;
}

hr {
    border: 0;
    height: 1px;
    background: LightGrey;
    margin: 0 0 24px;
}

a {
    color: #3c46bb;
    transition: all 0.1s ease-in-out;
}

a:visited,
a:active {
    color: #3c46bb;
}

a:hover,
a:focus {
    color: #525366;
}

/*------------------------------------*\
  #OBJECTS
\*------------------------------------*/

/*
    Objects: Row
    ---
    Creates a horizontal row that stretches the viewport and adds padding around children
*/

.o-list {
    list-style: none;
    padding: 0;
}

.o-row {
    padding: 24px 24px 0;
    display: flow-root;
}

/* size modifiers */

.o-row--lg {
    padding-top: 48px;
    padding-bottom: 24px;
}

.o-row--xl {
    padding-top: 72px;
    padding-bottom: 72px;
}

@media (min-width: 768px) {
    .o-row {
        padding-left: 48px;
        padding-right: 48px;
    }

    .o-row--md {
        padding-top: 48px;
        padding-bottom: 24px;
    }

    .o-row--lg {
        padding-top: 72px;
        padding-bottom: 48px;
    }
}

@media (min-width: 992px) {
    .o-row--xl {
        padding-top: 96px;
        padding-bottom: 96px;
    }
}

/*
    Objects: Container
    ---
    Creates a horizontal container that sets de global max-width
*/

.o-container {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    max-width: 64.666666667em; /* 64.667 * 18px = 1164px */
}

/*
    Objects: section
    ---
    Creates vertical whitespace between adjacent sections inside a row
*/

.o-section {
    display: flow-root;
}

.o-section + .o-section {
    margin-top: 24px;
}

@media (min-width: 768px) {
    .o-section--lg + .o-section--lg,
    .o-section--xl + .o-section--xl {
        margin-top: 48px;
    }
}

@media (min-width: 1200px) {
    .o-section--xl + .o-section--xl {
        margin-top: 72px;
    }
}

/*
    Objects: Layout
    ---
    The layout object provides us with a column-style layout system. This object
    contains the basic structural elements, but classes should be complemented
    with width utilities
*/

.o-layout {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
}

.o- {
    flex-basis: 100%;
}
.o-layout--main {
    border: 1px solid #3c46bb;
    padding: 24px;
}

/* gutter modifiers, these affect o-layout__item too */

.o-layout--gutter {
    margin: 0 -16px;
}

.o-layout--gutter > .o-layout__item {
    padding: 0 16px;
}

.o-layout--gutter-sm {
    margin: 0 -6px;
}

.o-layout--gutter-sm > .o-layout__item {
    padding: 0 6px;
}

.o-layout--gutter-lg {
    margin: 0 -40px;
}

.o-layout--gutter-lg > .o-layout__item {
    padding: 0 40px;
}

/* reverse horizontal row modifier */

.o-layout--row-reverse {
    flex-direction: row-reverse;
}

/* Horizontal alignment modifiers*/

.o-layout--justify-start {
    justify-content: flex-start;
}

.o-layout--justify-end {
    justify-content: flex-end;
}

.o-layout--justify-center {
    justify-content: center;
}

.o-layout--justify-space-around {
    justify-content: space-around;
}

.o-layout--justify-space-evenly {
    justify-content: space-evenly;
}

.o-layout--justify-space-between {
    justify-content: space-between;
}

/* Vertical alignment modifiers */

.o-layout--align-start {
    align-items: flex-start;
}

.o-layout--align-end {
    align-items: flex-end;
}

.o-layout--align-center {
    align-items: center;
}

.o-layout--align-baseline {
    align-items: baseline;
}

/* Vertical alignment modifiers that only work if there is one than one flex item */

.o-layout--align-content-start {
    align-content: start;
}

.o-layout--align-content-end {
    align-content: end;
}

.o-layout--align-content-center {
    align-content: center;
}

.o-layout--align-content-space-around {
    align-content: space-around;
}

.o-layout--align-content-space-between {
    align-content: space-between;
}

/*
    Objects: List
    ---
    Small reusable object to remove default list styling from lists
*/

.o-list {
    list-style: none;
    padding: 0;
}

/*
    Object: Button reset
    ---
    Small button reset object
*/

.o-button-reset {
    border: none;
    margin: 0;
    padding: 0;
    width: auto;
    overflow: visible;
    background: transparent;

    /* inherit font & color from ancestor */
    color: inherit;
    font: inherit;

    /* Normalize `line-height`. Cannot be changed from `normal` in Firefox 4+. */
    line-height: normal;

    /* Corrects font smoothing for webkit */
    -webkit-font-smoothing: inherit;
    -moz-osx-font-smoothing: inherit;

    /* Corrects inability to style clickable `input` types in iOS */
    -webkit-appearance: none;
}

/*------------------------------------*\
  #COMPONENTS
\*------------------------------------*/

/*
    Component: Component name
    ---
    Component description
*/

.c-info--melding {
    color: #3c46bb;
    border: 1px solid #3c46bb;
    font-weight: 800;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 16px 72px;
    margin: auto;
    margin-bottom: 36px;
    border-radius: 8px;
    text-align: center;
    text-transform: uppercase;
}

.c-textarea {
    padding: 8px;
    border-radius: 8px;
    background-color: #edeef2;
    border: 1px solid #525366;
    resize: none;
    font-family: "ITC", sans-serif;
    height: 88px;
}

.c-checkbox {
    width: 88px;
}

.c-checkbox__item {
    width: 9.33rem;
    background-color: #edeef2;
    border: 1px solid #525366;
    border-radius: 8px;
}

.c-headerintro--grey {
    background-color: #edeef2;
}
.c-overzichttxt {
    color: #3c46bb;
}

.c-cell {
    padding: 8px;
}

@media (min-width: 768px) {
    .c-cell {
        padding: 16px;
    }
}
@media (max-width: 768px) {
    .c-cell {
        font-size: 16px;
    }
}

.c-btn-afsluiten {
    padding: 16px 32px;
    font-weight: 800;
    background-color: red;
    color: white;
    margin: 48px auto;
    border: 1px solid #03041a;
    border-radius: 8px;
}

.c-btn-afsluiten:hover {
    text-decoration: underline;
    cursor: pointer;
}

.c-select--acties {
    font-size: 16px;
    font-weight: 800;
    padding: 13px 25px;
    background-color: #edeef2;
    color: #3c46bb;
    border-radius: 8px;
    border: 1px solid #3c46bb;
}

.c-button--uitvoeren {
    font-size: 16px;
    font-weight: 800;
    padding: 14px 50px;
    background-color: #3c46bb;
    color: white;
    border-radius: 8px;
    border: 1px solid #525366;
}

.c-link--melding {
    font-size: 18px;
    font-weight: 800;
    padding: 19px 88px;
    background-color: #3c46bb;
    color: white !important;
    border-radius: 8px;
    border: 1px solid #525366;
    margin: auto;
    display: block;
    text-align: center;
    text-decoration: none;
}

.c-link--melding:hover {
    color: white;
    background-color: #525366;
    cursor: pointer;
}

.c-logo {
    height: 48px;
}

.c-nav {
    font-size: 16px;
    line-height: 22px;
}

.c-info__right {
    display: block;
    text-align: right;
}

.c-nav-trigger {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 24px;
    width: 24px;
    height: 24px;
}

@media (min-width: 992px) {
    .c-header__nav {
        display: block;
    }

    .c-header__nav--main {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        margin-top: 12px;
    }

    .c-header__mobile-nav-trigger {
        display: none;
    }
}

.c-dropdown:hover .c-dropdown-content {
    display: block;
}

.c-dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.c_dropdown_arrow {
    height: 22px;
}
.c-dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.c-cell--label {
    font-weight: 600;
    text-decoration: underline;
}

.c-span--bold {
    font-weight: 800;
}

.c-nav__item {
    margin-right: 40px;
}

.c-nav__list {
    display: flex;
}

.c-nav__list--mobile {
    display: flex;
    flex-direction: column;
}
.c-nav__link {
    text-decoration: none;
    font-weight: 600;
    display: block;
    padding: 8px 0;
}

.c-nav__link,
.c-nav__link:visited,
.c-nav__link:active {
    color: #03041a;
}

.c-nav__link:hover,
.c-nav__link:focus {
    color: #525366;
    text-decoration: underline;
}

.c-header__cta .c-link-cta {
    display: inline-block;
    text-decoration: none;
    font-size: 16px;
    line-height: 22px;
    font-weight: 600;
    padding: 13px 25px;
    background-color: white;
    color: #3c46bb !important;
    border-radius: 8px;
    border: 1px solid #525366;
}

.c-header {
    height: 4.11em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.c-header__nav,
.c-header__cta,
.c-intro__figure {
    display: none;
}

@media (min-width: 992px) {
    .c-header__nav,
    .c-header__cta,
    .c-intro__figure {
        display: block;
    }
}

.c-link-cta {
    display: inline-block;
    text-decoration: none;
    font-size: 16px;
    line-height: 22px;
    font-weight: 600;
    padding: 21px 34px;
    color: #3c46bb !important;
    background-color: white;
    border-radius: 8px;
    border: 1px solid #525366;
}

.c-link-cta,
.c-link-cta:visited,
.c-link-cta:active {
}

.c-link-cta:hover,
.c-link-cta:focus {
    text-decoration: underline;
}

.c-link-cta:active {
    text-decoration: underline;
}

@media (min-width: 768px) {
    .c-intro__titel {
        font-size: 54px;
        line-height: 56px;
    }
}

.c-mobile-nav {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    height: 100vh;
    pointer-events: none;
}

.has-mobile-nav .c-mobile-nav {
    pointer-events: auto;
}

.c-mobile-nav__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 16px;
}

.c-mobile-nav__bg {
    position: absolute;
    position: 0 0 0 0;
    background-color: #202024;
    opacity: 0;
    transition: opacity 0.25s ease;
}

.has-mobile-nav .c-mobile-nav__bg {
    opacity: 0.5;
}

.c-mobile-nav__body {
    position: relative;
    height: 100vh;
    width: 100vw;
    background-color: #fff;
    transform: translateX(-100%);
    transition: transform 0.25s ease;
}

.has-mobile-nav .c-mobile-nav__body {
    transform: translateX(0);
}

.c-page {
    transform: translateX(0);
    transition: transform 0.25s ease;
}

.has-mobile-nav .c-page {
    transform: translateX(25%);
}

@media (min-width: 992px) {
    /* Hide the mobile nav on larger viewports even whent it's open on smaller screens */
    .c-mobile-nav {
        display: none !important;
    }
}
/*------------------------------------*\
  #UTILITIES
\*------------------------------------*/

/*
    Utilities: spacing
    ---
    Utility classes to put specific margins and paddings onto elements
*/

.u-pt-clear {
    padding-top: 0 !important;
}

.u-mb-clear {
    margin-bottom: 0 !important;
}

.u-mb-xs {
    margin-bottom: 4px !important;
}

.u-mb-sm {
    margin-bottom: 8px !important;
}

.u-mb-md {
    margin-bottom: 16px !important;
}

.u-mb-lg {
    margin-bottom: 32px !important;
}

.u-mb-xl {
    margin-bottom: 48px !important;
}

/*
    Utilities: max-width
    ---
    Utility classes to put specific max widths onto elements
*/

.u-max-width-sm {
    max-width: 36em !important;
}

.u-max-width-md {
    max-width: 45em !important;
}

.u-max-width-lg {
    max-width: 60em !important;
}

.u-max-width-xl {
    max-width: 75em !important;
}

.u-max-width-none {
    max-width: none !important;
}

/*
    Utility: Flex
    ---
    Utility classes to put specific flex properties onto elements
    Will be mostly used on o-layout__item
*/

.u-flex-basis-auto {
    flex-basis: auto !important;
}

.u-flex-grow-1 {
    flex-grow: 1 !important;
}

.u-1-of-2 {
    flex-basis: calc(100% / 2) !important;
}

.u-1-of-3 {
    flex-basis: calc(100% / 3) !important;
}

.u-2-of-3 {
    flex-basis: calc(100% / 3 * 2) !important;
}

.u-1-of-4 {
    flex-basis: calc(100% / 4) !important;
}

.u-3-of-4 {
    flex-basis: calc(100% / 4 * 3) !important;
}

.u-1-of-5 {
    flex-basis: calc(100% / 5) !important;
}

.u-2-of-5 {
    flex-basis: calc(100% / 5 * 2) !important;
}

.u-3-of-5 {
    flex-basis: calc(100% / 5 * 3) !important;
}

.u-4-of-5 {
    flex-basis: calc(100% / 5 * 4) !important;
}

.u-1-of-6 {
    flex-basis: calc(100% / 6) !important;
}

.u-5-of-6 {
    flex-basis: calc(100% / 6 * 5) !important;
}

@media (min-width: 576px) {
    .u-1-of-2-bp1 {
        flex-basis: calc(100% / 2) !important;
    }
    .u-1-of-3-bp1 {
        flex-basis: calc(100% / 3) !important;
    }
    .u-2-of-3-bp1 {
        flex-basis: calc(100% / 3 * 2) !important;
    }
    .u-1-of-4-bp1 {
        flex-basis: calc(100% / 4) !important;
    }
    .u-3-of-4-bp1 {
        flex-basis: calc(100% / 4 * 3) !important;
    }
    .u-1-of-5-bp1 {
        flex-basis: calc(100% / 5) !important;
    }
    .u-2-of-5-bp1 {
        flex-basis: calc(100% / 5 * 2) !important;
    }
    .u-3-of-5-bp1 {
        flex-basis: calc(100% / 5 * 3) !important;
    }
    .u-4-of-5-bp1 {
        flex-basis: calc(100% / 5 * 4) !important;
    }
    .u-1-of-6-bp1 {
        flex-basis: calc(100% / 6) !important;
    }
    .u-5-of-6-bp1 {
        flex-basis: calc(100% / 6 * 5) !important;
    }
}

@media (min-width: 768px) {
    .u-1-of-2-bp2 {
        flex-basis: calc(100% / 2) !important;
    }
    .u-1-of-3-bp2 {
        flex-basis: calc(100% / 3) !important;
    }
    .u-2-of-3-bp2 {
        flex-basis: calc(100% / 3 * 2) !important;
    }
    .u-1-of-4-bp2 {
        flex-basis: calc(100% / 4) !important;
    }
    .u-3-of-4-bp2 {
        flex-basis: calc(100% / 4 * 3) !important;
    }
    .u-1-of-5-bp2 {
        flex-basis: calc(100% / 5) !important;
    }
    .u-2-of-5-bp2 {
        flex-basis: calc(100% / 5 * 2) !important;
    }
    .u-3-of-5-bp2 {
        flex-basis: calc(100% / 5 * 3) !important;
    }
    .u-4-of-5-bp2 {
        flex-basis: calc(100% / 5 * 4) !important;
    }
    .u-1-of-6-bp2 {
        flex-basis: calc(100% / 6) !important;
    }
    .u-5-of-6-bp2 {
        flex-basis: calc(100% / 6 * 5) !important;
    }
}

@media (min-width: 992px) {
    .u-1-of-2-bp3 {
        flex-basis: calc(100% / 2) !important;
    }
    .u-1-of-3-bp3 {
        flex-basis: calc(100% / 3) !important;
    }
    .u-2-of-3-bp3 {
        flex-basis: calc(100% / 3 * 2) !important;
    }
    .u-1-of-4-bp3 {
        flex-basis: calc(100% / 4) !important;
    }
    .u-3-of-4-bp3 {
        flex-basis: calc(100% / 4 * 3) !important;
    }
    .u-1-of-5-bp3 {
        flex-basis: calc(100% / 5) !important;
    }
    .u-2-of-5-bp3 {
        flex-basis: calc(100% / 5 * 2) !important;
    }
    .u-3-of-5-bp3 {
        flex-basis: calc(100% / 5 * 3) !important;
    }
    .u-4-of-5-bp3 {
        flex-basis: calc(100% / 5 * 4) !important;
    }
    .u-1-of-6-bp3 {
        flex-basis: calc(100% / 6) !important;
    }
    .u-5-of-6-bp3 {
        flex-basis: calc(100% / 6 * 5) !important;
    }
}

@media (min-width: 1200px) {
    .u-1-of-2-bp4 {
        flex-basis: calc(100% / 2) !important;
    }
    .u-1-of-3-bp4 {
        flex-basis: calc(100% / 3) !important;
    }
    .u-2-of-3-bp4 {
        flex-basis: calc(100% / 3 * 2) !important;
    }
    .u-1-of-4-bp4 {
        flex-basis: calc(100% / 4) !important;
    }
    .u-3-of-4-bp4 {
        flex-basis: calc(100% / 4 * 3) !important;
    }
    .u-1-of-5-bp4 {
        flex-basis: calc(100% / 5) !important;
    }
    .u-2-of-5-bp4 {
        flex-basis: calc(100% / 5 * 2) !important;
    }
    .u-3-of-5-bp4 {
        flex-basis: calc(100% / 5 * 3) !important;
    }
    .u-4-of-5-bp4 {
        flex-basis: calc(100% / 5 * 4) !important;
    }
    .u-1-of-6-bp4 {
        flex-basis: calc(100% / 6) !important;
    }
    .u-5-of-6-bp4 {
        flex-basis: calc(100% / 6 * 5) !important;
    }
}

/*------------------------------------*\
  #MEDIA
\*------------------------------------*/

/*
    Print styles.
    ---
    Inlined to avoid the additional HTTP request:
    http://www.phpied.com/delay-loading-your-print-css/
*/

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important;
        /* Black prints faster:
                                   http://www.sanbeiji.com/archives/953 */
        box-shadow: none !important;
        text-shadow: none !important;
    }
    a,
    a:visited {
        text-decoration: underline;
    }
    a[href]:after {
        content: " (" attr(href) ")";
    }
    abbr[title]:after {
        content: " (" attr(title) ")";
    }
    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */
    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }
    pre {
        white-space: pre-wrap !important;
    }
    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }
    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */
    thead {
        display: table-header-group;
    }
    tr,
    img {
        page-break-inside: avoid;
    }
    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }
    h2,
    h3 {
        page-break-after: avoid;
    }
}
